<h1 class="nameRestaurant">{{dbRes.name}}</h1>
<div class="resto-container">
  <div class="resto-left-container">
    <img class="image_onerestaurant" src="{{dbRes.image}}" alt="Restaurant pic">
    {{!-- ADD: Click to add to favorites + source for heart image --}}
    {{!-- Add later: toggle heart full or empty depending on whether the restaurant is in the user's favorites or not --}}
    <a href="" id="resto-likes-container">
      <div class="resto-likes">{{likesCount}}</div> <i class="far fa-heart lea" aria-hidden="true"></i>
    </a>
  </div>

  <div class="resto-right-container">

    <p id="typeOfFood">Type of food :</p> {{dbRes.typeOfCuisine}}
    <h2 id="coworkers_recommend">Your coworkers recommend :</h2>
    <ul>
      {{#each dbrEs.recommendations as |recommendation|}}
      <li>{{recommendation}}</li>
      {{/each}}
    </ul>

    <p id="speedRate"> Your coworkers have found the service's speed to be : {{speed}} !</p>
  </div>
</div>


<div class="distanceContainer">

  <span id="distance">It's {{this.distance}} away !</span></div>
<div class="map-container">
  <iframe id="map1" src="https://www.google.com/maps/embed/v1/place?key={{api_key}}&q={{dbRes.address}}" frameborder="0"
    style="border:0" allowfullscreen></iframe>

</div>

{{!-- <form>
  <p id="isItFast"> Have you been to that restaurant? How fast was the service?</p>


  <div class="speedContainerButtons">
    <input type="radio" id="speed1" name="speed" value="slow">
    <label for="speed1">Slow</label>

    <input type="radio" id="speed2" name="speed" value="medium">
    <label for="speed2">Medium</label>

    <input type="radio" id="speed3" name="speed" value="quick">
    <label for="speed3">Fast</label>
  </div>




  <div class="sendButtonContainer">
    <button class="sendButton" type="submit">
      Send

    </button>
  </div>
</form> --}}