{{!-- SIDEBAR --}}
<div class="restaurants-page-container">
  <hr id="vertical_line">
  <aside class="left-sidebar">

    <h4 class="">Filter by:</h4>


    <div>
      <h3>Type of food</h3>
      <ul class="cuisine-list">
        <li class="cuisine-list-item"><a href="/restaurants/tag/Chicken">Chicken</a></li>
        <li class="cuisine-list-item"><a href="/restaurants/tag/Chinese">Chinese</a></li>
        <li class="cuisine-list-item"><a href="/restaurants/tag/French">French</a></li>
        <li class="cuisine-list-item"><a href="/restaurants/tag/Thai">Thai</a></li>
        <li class="cuisine-list-item"><a href="/restaurants/tag/Vietnamese">Vietnamese</a></li>
      </ul>
    </div>
    <div>
      <h3>Speed</h3>
      <ul class="speed-list">
        <li class="speed-list-item"><a href="/restaurants/speed/fast">Fast</a></li>
        <li class="speed-list-item"><a href="/restaurants/speed/medium">Medium</a></li>
        <li class="speed-list-item"><a href="/restaurants/speed/slow">Slow</a></li>
      </ul>
    </div>
    <div>
      <h3>Distance</h3>
      <ul class="distance-list">
        <li class="distance-list-item"><a href="/restaurants/distance/200">Less than 200m</a></li>
        <li class="distance-list-item"><a href="/restaurants/distance/800">Less than 800m</a></li>
        <li class="distance-list-item"><a href="/restaurants/speed/far">800m and further</a></li>
      </ul>
    </div>
    <div>
      <a href="/restaurants">
        <h3>Remove filters</h3>
      </a>
    </div>
  </aside>



  <div class="restaurants-container">
    <h1 class="restaurants-title">Recommended Restaurants</h1>
    <div class="restaurants-grid">
      {{#each restos}}
      <div class="one-restaurant-container">

        <div class="restaurants-image"><img src="{{this.image}}" alt="restaurant image"> <a
            href="/restaurant/{{this._id}}?companyId={{../company._id}}" class="individual-thumbnail"></a></div>
        <h2 class="restaurants-name">{{this.name}}</h2>
        <p class="restaurants-distance">{{this.distance}}</p>
        <p class="restaurants-favs">{{this.favorites.length}}<i class="far fa-heart"></i></p>
        </a>
      </div>
      {{/each}}
    </div>
  </div>
</div>