<div class="user_container">


  <div class="each_user">
    <h1 class="hello_user">Hello {{users.name}} !</h1>
    {{!-- {{#each users}} --}}

    <h2 id="user-info-title">User information:</h2>
    <ul class="list_user">
      <li class="user-list-item"><b>First name: </b>{{users.name}}</li>
      <li class="user-list-item"><b>Last name: </b> {{users.lastName}}</li>
      <li class="user-list-item"><b>Email address: </b> {{users.email}}</li>
    </ul>
    {{!-- {{/each}} --}}

    <h1 class="your_favorites"> <i class="far fa-heart"></i> Your favorites :
      <div class="favorites_user">
        {{#each users}} {{#each favorites}}

        <a href="/restaurant/{{this._id}}?companyId=5d1f4ed0fb6fc00e79b57ad7">

          <div class"sizeFavorites">
            <img class="imgFavorites" src="{{this.image}}" alt="imgfav">
            <h3 class="fav-title">{{this.name}}
            </h3>
        </a>
      </div>

      {{/each}} {{/each}}
  </div>
  </h1>



  {{#unless isLoggedOut}}
  <a href="/logout">
    <span class="btn-logout"><i class="fas fa-power-off"></i> Log Out</span>
  </a>
  {{/unless}}
</div>
</div>